@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

a {
  color: #99cc65;
}

.logo {
  width: 70px;
  margin-top: 20px;
  margin-left: 5%;
  overflow: hidden;
}

.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main-nav {
  margin-top: 20px;
  margin-bottom: 30px;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}

.main-nav li a {
  font-size: 15px;
  display: block;
  opacity: 0.7;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: rgba(153, 204, 101, 0.7) 0 0px 0px 1px inset;
          box-shadow: rgba(153, 204, 101, 0.7) 0 0px 0px 1px inset;
}

.main-nav li a:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: rgba(153, 204, 101, 0.2) 0 0px 0px 30px inset;
          box-shadow: rgba(153, 204, 101, 0.2) 0 0px 0px 30px inset;
}

.btn {
  display: block;
  background: #99cc65;
  color: #432;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

.btn:hover {
  background: #47763c;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.content {
  text-align: center;
  margin-top: 10%;
}

.content .top-text {
  font-family: 'Philosopher';
  margin-bottom: 20px;
  color: #99cc65;
}

.content .top-text span {
  display: none;
}

.content h2 {
  position: absolute;
  top: 30px;
  right: 10%;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

.footer-nav {
  margin-top: 50px;
}

.footer-nav ul li {
  position: relative;
  list-style: none;
  text-align: center;
  margin-top: 25px;
}

.footer-nav ul li a {
  position: relative;
  display: block;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  background: rgba(153, 204, 101, 0.05);
}

.footer-nav ul li a:hover .border-top {
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 102%;
  height: 105%;
}

.footer-nav ul li a:hover .border-bottom {
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 102%;
  height: 105%;
}

.footer-nav .border-top {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 1px solid #99cc65;
  border-top: 1px solid #99cc65;
  width: 30px;
  height: 30px;
}

.footer-nav .border-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #99cc65;
  border-right: 1px solid #99cc65;
  width: 30px;
  height: 30px;
}

.box {
  margin: 50px auto;
}

.box iframe {
  max-width: 100%;
}

.item {
  width: 90%;
  margin: 20px auto;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
  line-height: 20px;
}

.item a {
  position: relative;
  padding: auto;
  display: block;
}

.item a:hover {
  color: #47763c;
  background: rgba(71, 118, 60, 0.1);
}

.item .thumbnail {
  width: 100%;
}

.item .channel-icon {
  position: absolute;
  width: 60px;
  top: 0;
  right: 0;
}

.main-content {
  margin-bottom: 100px;
}

aside .tags {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 5px;
  margin-bottom: 30px;
  border-bottom: solid 1px #99cc65;
}

aside li {
  list-style: none;
}

aside a {
  padding: 5px 10px;
}

aside a:hover {
  color: #47763c;
  background: rgba(71, 118, 60, 0.1);
}

.detail-content {
  display: block;
  margin: 70px auto;
  text-align: center;
}

.detail-content p {
  margin-top: 20px;
}

.detail-content iframe {
  width: 100%;
  height: 315px;
  padding: auto;
}

.detail-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.detail-content ul a {
  margin-left: 20px;
}

.category-title {
  text-align: right;
  margin: 20px 0;
}

@media (max-width: 1023px) {
  .humberger-btn {
    display: block;
    position: fixed;
    z-index: 20;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .humberger-btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #99cc65;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .humberger-btn .top {
    top: 10px;
  }
  .humberger-btn .mid {
    top: 20px;
  }
  .humberger-btn .bot {
    top: 30px;
  }
  .humberger-btn.active {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .humberger-btn.active .mid {
    width: 0px;
  }
  .humberger-btn.active .top,
  .humberger-btn.active .mid {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .humberger-btn.active .top {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  .humberger-btn.active .bot {
    -webkit-transform: translateY(-16px) rotate(90deg);
            transform: translateY(-16px) rotate(90deg);
  }
  #menu {
    position: fixed;
    z-index: 19;
    top: 0;
    left: 0;
    text-align: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .9s;
    transition: all .9s;
    width: 100%;
  }
  #menu.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    background: #505050;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 100px;
  }
  .content .top-text span {
    display: none;
  }
  .content h2 {
    position: absolute;
    top: 32px;
    font-size: 4rem;
  }
  .footer-nav {
    margin-bottom: 60px;
  }
  .footer-nav li {
    margin-top: 20px;
  }
  .main-nav {
    display: block;
  }
  .main-nav li {
    margin-top: 20px;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
  }
  .item {
    margin: 0;
    margin-bottom: 20px;
  }
  .item .channel-icon {
    width: 25%;
  }
}

.detail-content {
  text-align: center;
}

.detail-content iframe {
  max-width: 80%;
  height: 400px;
}

@media (min-width: 1024px) {
  .logo {
    width: 130px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    margin-top: 35px;
  }
  .main-nav li {
    margin-left: 15px;
  }
  .content h2 {
    position: static;
    font-size: 5rem;
  }
  .content .top-text {
    position: relative;
    margin-bottom: 30px;
  }
  .content .top-text span {
    display: block;
    position: absolute;
    right: 30%;
    bottom: 0;
  }
  .btn {
    display: inline;
    padding: 20px 50px;
  }
  .footer-nav {
    margin-top: 140px;
  }
  .footer-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-nav ul li {
    width: 30%;
    margin: 0;
  }
  .sub-nav {
    display: none;
  }
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  form {
    width: 50%;
  }
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main {
    width: 78%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  aside {
    width: 20%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 20px;
  }
  aside li {
    list-style: none;
    margin-left: 20px;
  }
  .item {
    max-height: 230px;
    margin: 0;
    margin-bottom: 20px;
  }
  .detail-content {
    display: block;
    margin: 50px auto;
    text-align: center;
  }
  .detail-content iframe {
    width: 80%;
    height: 500px;
  }
  .detail-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-top: 20px;
  }
  .detail-content ul a {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */